/*      METODOLOGIA BEM 

Los tres elementos basicos son los Bloques, Elementos y los modificadores.


            *BLOQUES*

El bloque tendra la parte de la pagina web ejemplo:

        ."cabecera"
        ."menu"
/////////////////////////////////////////

            *ELEMENTOS*: 

Los elementos del bloque son las partes del bloque, un bloque puede tener varios elementos

    ."nombre del bloque"__"nombre del elemento"

        
    ERRORES COMUNES AL NOMBRAR ELEMENTOS:
    
    *Cofundir bloque con elemento= Si el bloque no tiene sentido por si mismo y no se puede reutilizar es un elemento
////////////////////////////////////////////////


            *MODIFICADORES*
    Siemore acompañanm a una clase bloque y una clase elmento
    
    Los modificiadores son clases que puedes añadir parar cambiar la apariencia o el comportamiento de los bloques y elementos

    Se uiliza para diferenciar dos etiquetas que tengan el mismo nombre añadiendole con "--" un nombre diferente a la clase y de ahi el nombre modificador

    -Estructura en bloques: 
        ."nombre del bloque"--modificador

    -Estructura en elementos:
        ."nombre del bloque"__"nombre del elmento"--modificador
*/
.contenedor-nav{
    margin-top: 10px;/*Margen de arriva*/
    list-style: none; /*Quita todas las decoraciones de las listas*/
    padding-left: 0px; /*Espacio interno*/
    background-color: #13a4a4; /*Fondo*/
}

.contenedor-nav__elemento
{
    display: inline-block;
}
.contenedor-nav__elemento a{
    color: white;
    padding: 5px;
    border-radius: 15px;
    text-decoration: none;
    
}

.contenedor-nav__elemento a:hover{

    color: royalblue;
}

.contenedor-nav__elemento a:active{
    color: seagreen;
}

.contenedor-nav__elemento a::after{
    content: " Lindo ";
}


/* Pseudoclases : 

Define el estilo de un *estado* (Cuando doy click, cuando paso el mouse, etc)

pseudoelementos : 
Define el estilo de una parte especifica de un elemento  */